<html>
<head>
<!-- Include the bootstrap stylesheets -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<title>About Aling Nena</title>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
         <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/products">Products</a>
			<a class="navbar-brand" href="/about">About Us</a>
        </div>
      </div>
    </div>
<br><br>
<h1>About Us</h1>
<div>
<img src= "steffena.jpg"  style="float:left">
</div>
<div>
<p><font color = "white" size = "10">Steffena Arcenal also known as aling nena was born on August 25, 1959. She struggled to support her 2 daughters after her husband left her. Currently, she is living in Valenzuela City. She is now a famous shop keeper in the city which is why she had also conquered the market in the web</p></font>
</div>
</body>
