<html>
<head>
<!-- Include the bootstrap stylesheets -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<title>Sample Products</title>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
         <a class="navbar-brand" href="/">Home</a>
			<a class="navbar-brand" href="/products">Products</a>
			<a class="navbar-brand" href="/about">About Us</a>
        </div>
      </div>
    </div>
<br><br>
<h1>Product List</h1>
<table class="table table-striped">
          <thead>
            <tr>
              <td>Name</td>
              <td>Price</td>
            </tr>
          </thead>
          <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><a href = "purchase/<%= product.id %>"><%= product.name %></td>
              <td><%= product.price %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
        </div>
    </div>
</body>
</html>